@tailwind base;
@tailwind components;
@tailwind utilities;

/* 


.main-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  
  .top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

   
  .left-container {
    flex: 2; 
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 20px;
  }
  
  
  .right-container {
    flex: 1;  
    border: 1px solid #ccc;e
    padding: 10px;
    padding-right: 10px;
    text-align: center;
    
  }
  
  
  .bottom-container {
    border: 1px solid #ccc; 
    padding: 10px;
    width: 50%;
  }
  .btn{
    height: 60px;
    width: 100px;
    margin: 10px;
  text-align: center;
  }
  
  .submit{
    width: 210px;
    height: 60px;
    text-align: cneter;
    background-color: rgb(208, 203, 228);
  }
  
  .card {
    flex-basis: calc(33.33% - 1rem);
    background-color: #f0f0f0;
    text-overflow: ellipsis; 
    padding: 2.5rem;
    text-align: left;
    border: 1px solid #ccc;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important; 
    
  
  }
  .details {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .selected {
    background-color: red !important;
    color: white;
  }*/